<h1>Impressum</h1>

<div class="row">

<div class="col-xs-6">
<h3>Angaben gemäß §5 TMG</h3>
<hr>
<p>
Krankenpflegedienst Ritter GmbH <br>
Alsterdorfer Straße 268 <br>
22297 Hamburg 
</p>

<p>
Telefon: 040 - 8000 776 0 <br>
Fax: 040 - 45 15 62 <br>
E-Mail schreiben <br>
www.ritter-pflege.de
</p>

<p>
Vertreten durch Thorsten Ritter <br>
IKNr.: 460 205 655 <br>
Handelsregister: <br>
Hamburg HRB115153
</p>
</div>

<div class="col-xs-6">
<h3>Verantwortlich für den Inhalt nach §55 Abs. 2 RStV</h3>
<hr>
Krankenpflegedienst Ritter GmbH <br>
Thorsten Ritter <br>
Alsterdorfer Straße 268 <br>
22297 Hamburg
</div>
</div>

<div class="row padding-top-impressum">
<div class="col-xs-6">
<h3>Design, Konzept und Umsetzung</h3>
<hr>
Christian Lehr <br>
www.christian.lehr.de
</div>

<div class="col-xs-6">
<h3>Fotografien auf dieser Website</h3>
<hr>
Fotograf Roman Seliwanow <br>
www.roman.com
</div>
</div>