<%= image_tag("http://placehold.it/600x150") %>
<h1>Kontakt</h1>

<p>
	Kontakt heißt für uns auch gute Beziehungen zu pflegen, alt bewährte und ganz frische. Wir freuen uns auf jeden neuen Kunden.
</p>

<div class="row">
	<div class="col-xs-5">
		Krankenpflegedienst Ritter GmbH <br>
		Alsterdorfer Straße 268 <br>
		22297 Hamburg
	</div>

	<div class="col-cs-5">
		Tel. 040 - 8000 776 0
		Fax 040 - 45 15 62
	</div>
</div>

<br>

E-Mail schreiben
Schreiben Sie uns gerne eine Mail, rufen Sie uns an oder füllen Sie einfach unser Kontaktformular aus. 
