.light-green {
	background-color: #8BC34A;
}

.lime {
	background-color: #CDDC39;
}

.flamingo {
	background-color: #EF4836;
}

.valencia {
	background-color: #D64541;
}

.fire-brush {
	background-color: #EB9532;
}

.saffron {
	background-color: #F9BF3B;
}

.saffron-light {
	background-color: #F4D03F;
}

.porcelain {
	background-color: #ECF0F1;
}