$background-color: #FFFFFF;
$accordion-color: #FFFFFF;

$main-color: #FFFFFF;
$panel-color: #FFFFFF;

$menu-color: #3E3E3E;
$font-color: #3E3E3E;

$font-family: "Alegreya-Black";

body {
	font-size: 13pt !important;
}

.background {
	background-color: $background-color;
}

.main-color {
	background-color: $main-color;
}

.font-color {
	color: $font-color;
}

.scrollToTop { 
 position: fixed;
 bottom:20px;
 right:20px;
 font-size: 15pt; 
 cursor: pointer;
}

.main-section {
float: none !important;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-left: 15px;
padding-right: 15px;
}

.notice {
	text-align: center;
	padding: 0 18px;    
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.notice.show {
	opacity: 1;
    max-height: 500px;
    padding-top: 10%;
    padding-bottom: 7%;	
}

.padding-top-impressum {
	padding-top: 2%;
}

.header-img {
width: 100%;
height: 250px;
}

ul {

a {
color: $menu-color;
}

a:hover {
color: $menu-color;	
}

list-style-type: none;
text-decoration: none;
}

a {
    color: $menu-color !important;	
    text-decoration: none;
}

.menu {
padding-left: 4%;
padding-top: 2%;
font-size: 15pt;
position: fixed;
}

/*form styles */

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.jumbotron {
	background-color: transparent !important;
}

.simple_form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;

	.input-width input {
		width: 50%;
	}

	.input-width textarea {
		width: 50%;
		max-width: 50%;
		max-height: 100px;
	}
}

.row-padding-bottom {
	margin-bottom: 5%;
}

.radio-group {
    float: right;
    width: 50%;
}

.anrede {
	float: left;	
}

.label-anrede {
	margin-right: 10%;
}

.contact_name {
	label {
		float: left;
	}

	input {
		float: right;
	}
}

.contact_telefon {
	label {
		float: left;
	}

	input {
		float: right;
	}
}

.contact_email {
	label {
		float: left;
	}

	input {
		float: right;
	}
}

.contact_message {
	label {
		float: left;
	}

	textarea {
		float: right;
	}
}

/*form styles end */

.left {
float: left;
}

.right {
float: right;
}

@font-face {
font-family: $font-family;
src: font-url('Alegreya-Black.otf') format("truetype");
}

.alegreya-black {
font-family: $font-family;
}


.padding {
padding: 10px 10px 10px 10px;
}

.border {
border: 1px solid black;	
}

.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: $accordion-color;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:before {
    content: '\25BA'; /* Unicode character for "plus" sign (+) */    
    color: #777;
    float: left;
    margin-right: 5px;
}

.accordion.active:before {
    content: '\25BC'; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: $accordion-color;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: $panel-color !important;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
.panel.show {    
    opacity: 1;
    max-height: 500px;
}


abbr[title], abbr[data-original-title] {
    cursor: inherit !important;
    border-bottom: none !important;
}

